.box-container {
    /*background-color: #082032;*/
       background: linear-gradient(
       to bottom, 
       #D1DEDE 0%, 
       #D1DEDE 50%,
       white 50%, 
       white 100%);
   }
   
   main {
     background-color: #F3F5FF;
     margin: 50px;
     border-radius: 25px;
     box-shadow: 0px 0px 30px 8px rgba(0, 0, 0, 0.6);  
     padding: 15px
   }
   
   #title {
     text-align: center;
     padding: 30px;
   }
   
   section {
     padding: 10px 25px 10px 0px;
     background-color: #D1DEDE;
   }
   
   #image {
     display: block;
     width: 100%;
     max-width: 500px;
     height: auto;
     margin: 20px auto;
     /*border: 20px outset #10227A;
     box-shadow: 0px 0px 30px 8px rgba(0, 0, 0, 0.6);*/
   
   }
   
   #img-caption {
     text-align: center;
   }
   
   #tribute-info {
     margin: 10px 0;
   }
   
   #headline {
     text-align: center;
   }
   
   li {
     margin: 16px;
     text-align: justify;
   }
   
   